{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="bg-white card-soft p-4">
      <h3 class="fw-bold">Set new password</h3>
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">New password</label>
          <input class="form-control" name="password1" type="password" minlength="8" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Confirm password</label>
          <input class="form-control" name="password2" type="password" minlength="8" required>
        </div>
        <button class="btn btn-dark w-100 btn-pill">Update password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
